* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    margin: auto;
    background-color: #eeedfb;
}



